@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
	height: 100%
}

.bg-box-shadow {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1)
}

.transparent-black {
	background: rgba(0, 0, 0, 0.5)
}

.bg-main-color {
	background: #141C29
}

.border-main-color {
	border-color: #141C29
}

.post-button-color {
	background: rgb(120, 86, 255)
}

.text-main-color {
	color: #141C29
}

.input {
	outline: none;
	border-bottom: 1px solid #000;
	border-color: #141C29;
	padding: 8px;
	background: transparent;
}
